<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <!--<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>                     
            </li> -->
            <li>
                <a routerLink="/staff">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-folder-open fa-fw"></i> Manage <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a routerLink="/staff/actors">
                            <i class="fa fa-child fa-fw"></i> Actors
                        </a>
                    </li>
                    <li>
                        <a routerLink="/staff/films">
                            <i class="fa fa-film fa-fw"></i> Films
                        </a>
                    </li>
                    <li>
                        <a routerLink="/staff/categories">
                            <i class="fa fa-address-book-o fa-fw"></i> Categories
                        </a>
                    </li>                        
                    <li>
                        <a routerLink="/staff/customers">
                            <i class="fa fa-group fa-fw"></i> Customers
                        </a>
                    </li>
                    <li>
                        <a routerLink="/staff/addresses">
                            <i class="fa fa-address-book-o fa-fw"></i> Address
                        </a>
                    </li>
                    <li>
                        <a routerLink="/staff/inventory">
                            <i class="fa fa-server fa-fw"></i> Invetory
                        </a>
                    </li>
                    <li>
                        <a routerLink="/staff/rentals">
                            <i class="fa fa-address-book-o fa-fw"></i> Rental
                        </a>
                    </li>
                    <li>
                        <a routerLink="/staff/payments">
                            <i class="fa fa-credit-card fa-fw"></i> Payment
                        </a>
                    </li>
                    <!--
                        <li>
                            <a routerLink="/staff">
                                <i class="fa fa-user fa-fw"></i> Staff
                            </a>
                        </li>
                      -->                        
                </ul>
                <!-- /.nav-second-level -->
            </li>                
        </ul>
    </div>
    <!-- /.sidebar-collapse -->    
</div>