<div class="container">
  <h1 class="text-center text-muted">Flim catalog</h1>
  <div class="row flow-offset-1">
    <div *ngFor="let film of _filmsCatalog" class="col-xs-6 col-md-3 col-lg-3">
      <div class="film tumbnail thumbnail-3">                  
        <a href="#"><img src="https://dummyimage.com/200x300/ccc/000.gif" alt=""></a>
        <div class="caption">
          <em><a href="#">{{film.title}}</a></em>            
          <span class="price">&nbsp; Rent: ${{film.rental_rate}}</span>
        </div>
      </div>
    </div>     
  </div>
</div>